header {
  height: 650px;
  background: url("../../images/mobile/image-hero.jpg") no-repeat center;
  background-size: cover;

  @media only screen and (min-width: 750px) {
    background: url("../../images/desktop/image-hero.jpg") no-repeat center
      center;
    background-size: cover;
  }

  .box-title {
    max-width: 1062px;
    width: 100%;
    margin: 130px auto 0;
    padding: 0 24px;

    h2 {
      text-align: left;
      height: 196px;
      width: 100%;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      padding-left: 24px;

      @media only screen and (min-width: 750px) {
        padding-left: 40px;
        height: 278px;
        width: 650px;
      }
    }
  }
}
